@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Library.Repositories.Interfaces;
@{
    ViewData["Title"] = "Commune (détail)";
}

@model commune;

<div class="row">
    <div class="col-md-12">
        <h1>Détail d'une Commune <small>/Commune/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form" asp-action="Detail">

            <input type="hidden" 
                value="@Model?.Id" asp-for="Id" />

            <div>
                <label for="Name" class="control-label">
                    Nom :
                </label>
                <input type="text" class="form-control"
                    id="Name" placeholder="Nom"
                    value="@Model?.Name" asp-for="Name" />
            </div>

            <div>
                <label for="Latitude" class="control-label">
                    Latitude :
                </label>
                <input type="text" class="form-control"
                    id="Latitude" placeholder="Latitude"
                    value="@Model?.Latitude" asp-for="Latitude" />
            </div>

            <div>
                <label for="Longitude" class="control-label">
                    Latitude :
                </label>
                <input type="text" class="form-control"
                    id="Longitude" placeholder="Longitude"
                    value="@Model?.Longitude" asp-for="Longitude" />
            </div>
            

            


            <br />

            <input type="submit" class="btn btn-primary"
                value="Valider" />
            <a class="btn btn-default" 
                asp-controller="Person" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>